<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{HH:mm:ss}] [%p] %m%n"/>
    </layout>
  </appender>
  
  <appender name="IrcLog" class="org.apache.log4j.rolling.RollingFileAppender">
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      <param name="FileNamePattern" value="logs/irc/irc-%d.log.gz"/>
      <param name="ActiveFileName" value="logs/irc.log"/>
    </rollingPolicy>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{HH:mm:ss}] [%p] %m%n"/>
    </layout>
  </appender>
  
  <appender name="SilentLog" class="org.apache.log4j.rolling.RollingFileAppender">
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      <param name="FileNamePattern" value="logs/silent/silent-%d.log.gz"/>
      <param name="ActiveFileName" value="logs/silent.log"/>
    </rollingPolicy>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{HH:mm:ss}] [%c{1}] [%p] %m%n"/>
    </layout>
  </appender>
  
  <appender name="HandlerLog" class="org.apache.log4j.rolling.RollingFileAppender">
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      <param name="FileNamePattern" value="logs/handler/handler-%d.log.gz"/>
      <param name="ActiveFileName" value="logs/handler.log"/>
    </rollingPolicy>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{HH:mm:ss}] [%c{1}] [%p] %m%n"/>
    </layout>
  </appender>
  
  <appender name="ErrorLog" class="org.apache.log4j.rolling.RollingFileAppender">
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      <param name="FileNamePattern" value="logs/error/error-%d.log.gz"/>
      <param name="ActiveFileName" value="logs/error.log"/>
    </rollingPolicy>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{HH:mm:ss}] [%c{1}] [%p] %m%n"/>
    </layout>
    <filter class="org.apache.log4j.filter.LevelRangeFilter">
      <param name="AcceptOnMatch" value="true"/>
      <param name="LevelMin" value="warn"/>
      <param name="LevelMax" value="fatal"/>
    </filter>
  </appender>
  
  <logger name="org.pircbotx" additivity="false">
    <level value="info"/>
    <appender-ref ref="IrcLog"/>
    <appender-ref ref="ErrorLog"/>
  </logger>
  
  <logger name="io.github.likcoras.ssbot">
    <level value="info"/>
    <appender-ref ref="SilentLog"/>
    <appender-ref ref="ErrorLog"/>
  </logger>
  
  <logger name="Handler">
    <level value="info"/>
    <appender-ref ref="HandlerLog"/>
    <appender-ref ref="ErrorLog"/>
  </logger>
  
  <root>
    <priority value="info"/>
    <appender-ref ref="Console"/>
  </root>
  
</log4j:configuration>